{% extends 'sitewide/bootstrap/base.html' %}

{% block title %}Transações - Registros{% endblock %}
{% block headerTitle %}Registros - Transações{% endblock %}

{% block mainTitle %}Editar Transação{% endblock %}

{% block actionTop %}
<a href="{% url "movimento:transacoes" %}" class="btn btn-primary">Voltar</a>
{% endblock %}

{% block main %}

<h3>{{ transacao }}</h3>

<form method="post">
    {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>

    <br>
    
    {{ formset.management_form }}
    {% for row in formset %}
    <ul class="ul-columns">
        {{ row.as_ul }}
    </ul>
    <div class="clear-both"></div>
    {% endfor %}

    <input type="submit" class="btn btn-success" value="Salvar">
</form>

{% endblock %}
