{% extends 'sitewide/bootstrap/base.html' %}

{% block title %}Transações - Movimento{% endblock %}
{% block headerTitle %}Movimento - Transações{% endblock %}

{% block mainTitle %}Transações{% endblock %}

{% block actionTop %}
<a href="{% url "movimento:transacoesNovo" %}" class="btn btn-primary">Transação Nova</a>
{% endblock %}


{% block main %}

<table class="table-sm table-bordered">
    {% for transacao in transacoes %}
    <tr>
        <td>
            <a href="{% url "movimento:transacoesVer" transacao_id=transacao.id %}">
                {{ transacao }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
