*~
\#*\#
.\#*

__pycache__/
*.py[cod]
*$py.class

*.log
db.sqlite3

/media/

/experimental/

# shortcuts
runserver
makemigrations
migrate
test

# settings.py may have different DBs, for example
/sistema/settings.py
/sistema/mysql.cnf

