{% extends 'sitewide/bootstrap/base.html' %}
{% load static %}

{% block title %}Produtos - Registros{% endblock %}
{% block headerTitle %}Registros - Produtos{% endblock %}

{% block mainTitle %}Produtos{% endblock %}

{% block actionTop %}
<a href="{% url "registros:produtosNovo" %}" class="btn btn-primary">Produto Novo</a>
{% endblock %}


{% block main %}

{% with current_page=produtos %}
{% include "registros/paginator.html" %}
{% endwith %}

{% for produto in produtos %}
<div class="card card-small inline-block">
    <a href="{% url "registros:produtosVer" produto_id=produto.id %}">
        <img class="card-img-top" src="{% if produto.foto %}{{ produto.foto.url }}{% else %}{% static "img/question_mark.png" %}{% endif %}" alt="{{ produto.codigo }}">
    </a>
    
    <div class="card-body">
        <a href="{% url "registros:produtosVer" produto_id=produto.id %}">
            <h5 class="card-title">{{ produto.codigo }}</h5>
        </a>
           
        <p class="card-text">            
            {{ produto.nome }}
        </p>
    </div>
</div>
{% endfor %}

<div class="clear-both"></div>

{% endblock %}
