{% extends 'sitewide/bootstrap/base.html' %}
{% load static %}

{% block title %}Produtos - Registros{% endblock %}
{% block headerTitle %}Registros - Produtos{% endblock %}

{% block mainTitle %}
{{ produto.codigo }}

<a href="{% url "registros:produtosEditar" produto_id=produto.id %}" class="btn btn-secondary">Editar</a>

<a href="{% url "registros:produtosConfirmarApagar" produto_id=produto.id %}" class="btn btn-danger">Apagar</a>
{% endblock %}

{% block actionTop %}
<a href="{% url "registros:produtosNovo" %}" class="btn btn-primary">Produto Novo</a>
<a href="{% url "registros:produtos" %}" class="btn btn-primary">Todos os Produtos</a>

{% endblock %}


{% block main %}


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="ficha-tab" data-toggle="tab" href="#ficha" role="tab" aria-controls="ficha" aria-selected="true">Ficha</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="compras-tab" data-toggle="tab" href="#compras" role="tab" aria-controls="compras" aria-selected="false">Compras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="vendas-tab" data-toggle="tab" href="#vendas" role="tab" aria-controls="vendas" aria-selected="false">Vendas</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ficha" role="tabpanel" aria-labelledby="ficha-tab">

        <p>
            {{ produto.nome }}, {{ produto.por_caixa }} peças por caixa
        </p>

        <p>
            <b>Estoque</b>: {{ produto.estoque }} peças
        </p>

        <p>
            <a href="{% if produto.foto %}{{ produto.foto.url }}{% else %}#{% endif %}">
                <img src="{% if produto.foto %}{{ produto.foto.url }}{% else %}{% static "img/question_mark.png" %}{% endif %}" alt="{{ produto.codigo }}" class="foto-small">
            </a>
        </p>

    </div>
    <div class="tab-pane fade" id="compras" role="tabpanel" aria-labelledby="compras-tab">
        {% with produto.compras as itensDeLinha %}
        {% include "movimento/transacoes/tabelas/itensDeLinhaProduto.html" %}
        {% endwith %}
    </div>
    <div class="tab-pane fade" id="vendas" role="tabpanel" aria-labelledby="vendas-tab">
        {% with produto.vendas as itensDeLinha %}
        {% include "movimento/transacoes/tabelas/itensDeLinhaProduto.html" %}
        {% endwith %}
    </div>
</div>

{% endblock %}
