.mainContent {
    margin-left: 1em;
}

footer {
    margin-left: 1em;
}

.foto-small {
    width: 18rem;
}

.card-small {
    width: 18rem;
}

.card-fixed-height-small {
    height: 12em;
}

ul.ul-columns {
    margin-left: 0;
    padding-left: 0;
}

ul.ul-columns li {
    float: left;
    list-style: none;
    padding-right: 0.8em;
}

ul.ul-columns input[type=text] {
    width: 5em;
}

ul.ul-columns input[type=number] {
    width: 5em;
    text-align: right;
}

.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

