{% extends 'sitewide/base.html' %}

{% block title %}Clientes - Registros{% endblock %}
{% block headerTitle %}Registros - Clientes{% endblock %}

{% block mainTitle %}Cliente Novo{% endblock %}


{% block main %}

<div class="mdc-card">
    <section class="mdc-card__supporting-text">
        <form method="post">
            {% csrf_token %}
            
            <div class="mdc-text-field">
                <input type="text" name="nome" id="nome" class="mdc-text-field__input">
                <label class="mdc-text-field__label" for="nome">Nome</label>
                <div class="mdc-text-field__bottom-line"></div>
            </div>
            
            <div class="mdc-text-field">
                <input type="text" name="rua" id="rua" class="mdc-text-field__input">
                <label class="mdc-text-field__label" for="rua">Rua</label>
                <div class="mdc-text-field__bottom-line"></div>
            </div>

            <button type="submit" class="mdc-button mdc-button--raised">Adicionar</button>
        </form>
    </section>
</div>

{% endblock %}


{% block addJS %}
<script>
 var tfs = document.querySelectorAll('.mdc-text-field');
 for (var i = 0, tf; tf = tfs[i]; i++) {
     mdc.textField.MDCTextField.attachTo(tf);
 }
</script>
{% endblock %}
