{% extends 'catalogo/base.html' %}
{% load static %}

{% block title %}Catálogo{% endblock %}

{% block mainTitle %}Catálogo{% endblock %}

{% block main %}
<br>
<div class='categoria_nome'>Resultado da busca '{{ query }}'</div>

{% for item in itens %}

<!-- CARD -->
<div class='card card-3'>
    <a href='#' class='produtos' id='{{ item.produto.codigo }}'>
        <img class="card-img-thumb" src='{% if item.produto.foto %}{{ item.produto.foto.url }}{% else %}{% static "img/question_mark.png" %}{% endif %}' alt='{{ item.produto.codigo }}'>
    </a><br>
    
    {{ item.produto.codigo }}<br>
    {{ item.produto.nome }}<br>
    {{ item.produto.por_caixa }} pçs por caixa
</div>
<!-- END CARD -->

{% endfor %}

{% endblock %}
